/* global */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --main-font: "Crimson Pro", serif;
}

* {
    font-family: var(--main-font)
}

/* header */

.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container img {
    width: 150px;
    height: auto;
    border-radius: 100px;
    box-shadow: 1px 5px 8px black;
    margin-top: 25%;
    animation: floatShadow 5s ease-in-out infinite;
}

/* Main */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
    flex: 1;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.login-page-btn,
.logout-btn {
    margin-bottom: 4%;
    background-color: white;
    border-radius: 8px;
    width: 60px;
    height: 25px;
    border: none;
    background-color: rgb(128, 144, 170);
    border-width: 3px;
    color: white;
    cursor: pointer;
    box-shadow: 1px 3px 5px rgb(192, 192, 192);
}

.login-btn:hover, 
.login-page-btn:hover,
.logout-btn:hover {
    background-color: rgb(100, 118, 146);
}

label {
    font-weight: bold;
    font-size: 1rem;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5%;
}

#search {
    font-size: 15px;
    height: 20px;
    border-radius: 8px;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 1px 3px 5px rgb(192, 192, 192);
}

#search:hover {
    background-color: rgb(241, 241, 241);
}

.search-button {
    cursor: pointer !important;
    border-radius: 8px;
    width: 80px;
    height: 30px;
    background-color: white;
    border-color: rgb(189, 205, 231);
    border-width: 5px;
}

.search-button:hover {
    border-color: rgb(172, 187, 212);
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.defaultTemplate img {
    width: 400px;
    height: auto;
    object-fit: fill;
    border-radius: 8px;
    transition:  transform 0.25s;
}

.defaultTemplate img:hover {
    transform: scale(1.025);
}

.login-form {
    margin-top: 4%;
    border-radius: 5px;
    border: 1px dashed rgb(184, 184, 184);
}

.login-form p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.login-btn {
    background-color: white;
    border-radius: 8px;
    width: 60px;
    height: 25px;
    border: none;
    background-color: rgb(128, 144, 170);
    border-width: 3px;
    color: white;
    cursor: pointer;
    box-shadow: 1px 3px 5px rgb(192, 192, 192);
}

.hide {
    display: none !important;
}

#email,
#password {
    border-radius: 5px;
    width: 150px;
    height: 20px;
    border: 1px solid rgb(241, 241, 241);
    box-shadow: 1px 5px 8px rgb(219, 219, 219);
}

.template-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 5%;
}

#template-select {
    border-radius: 5px;
    width: 75px;
    border: 1px solid rgb(238, 238, 238);
    box-shadow: 1px 5px 8px rgb(219, 219, 219);
    cursor: pointer;
}

.template1 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.template3 {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "BIG BIG a b"
        "c d BIG2 BIG2"
        "BIG3 BIG3 e f";
    gap: 10px;
}

.template3 div:nth-child(1) {
    grid-area: BIG;
}

.template3 div:nth-child(2) {
    grid-area: BIG2;
}

.template3 div:nth-child(3) {
    grid-area: BIG3;
}

.template2 {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.75fr 1.75fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "a b BIG BIG"
        "c d BIG2 BIG2"
        "e f BIG3 BIG3 ";
    gap: 10px;
}

/* big image in top-right spans both rows */
.template2 div:last-child {
    grid-area: BIG;
}

.template2 div:nth-child(8) {
    grid-area: BIG2;
}

.template2 div:nth-child(7) {
    grid-area: BIG3;
}

.template1 div,
.template2 div,
.template3 div  {
    overflow: hidden;
    height: 300px; /* consistent row height */
}

.template1 img,
.template2 img,
.template3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.template1,
.template2,
.template3 {
    padding: 10px;
    background-color: black;
}

/* footer */

.main-footer {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

@keyframes floatShadow {
    0% {
        transform: translateY(0px);
        box-shadow: 0 10px 15px rgba(1, 57, 131, 0.1);
    }
    50% {
        transform: translateY(0px);
        box-shadow: 0 20px 30px rgba(38, 85, 148, 0.2); /* Shadow moves down and blurs */
    }
    100% {
        transform: translateY(0px);
        box-shadow: 0 10px 15px rgba(1, 57, 131, 0.1);
    }
}
